 /* 全局样式 */
view {
	box-sizing: border-box;
}

.screen {
	width: 100%;
	height: 100%;
	position: absolute;
}
	
.hide {
	display: none !important;
}

/* 布局相关 */
.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}
.fc {
	flex-direction: column;
}
.fr {
	flex-direction: row;
}
.as {
	align-items: flex-start;
}
.ac {
	align-items: center;
}
.ae {
	align-items: flex-end;
}
.js {
	justify-content: flex-start;
}
.jc {
	justify-content: center;
}
.je {
	justify-content: flex-end;
}
.jsb {
	justify-content: space-between;
}

/* 图标相关 */
.icon {
	background-size: 100% 100%;
}
.icon-notify {
	background-image: url('./static/icon-notify.png');
}
.icon-gift {
	background-image: url('./static/icon-gift.png');
}
.icon-semi {
	background-image: url('./static/icon-semi.png');
}
.icon-invite {
	background-image: url('./static/icon-invite.png');
}
.icon-i-know {
	background-image: url('./static/icon-i-know.png');
}
.icon-wx {
	background-image: url('./static/icon-wx.png');
}
.icon-friends {
	background-image: url('./static/icon-friends.png');
}
.icon-singed {
	background-image: url('./static/icon-singed.png');
}
.icon-call-charge {
	background-image: url('./static/icon-call-charge.png');
}
.icon-flow {
	background-image: url('./static/icon-flow.png');
}